*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 400px;
    max-width: 100%;
    overflow: hidden;
}

.header {
    background-color: beige;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
    text-align: center;
}

.form {
    padding: 30px 40px;
}

.constant {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.constant label {
    display: inline-block;
    margin-bottom: 5px;
}

.constant input {
    border: 2px solid grey;
    border-radius: 5px;
    display: block;
    padding: 7px;
    width: 100%;
}

.constant.success input {
    border-color: #2ecc71;
}

.constant.error input {
    border-color: #e74e3c;
}


.constant small{
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.constant.error small {
    color: #e74e3c;
    visibility: visible;
}

.form .btn {
    background-color: blue;
    color: white;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
}

